* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Colors Primary*/
  --Yellow: hsl(47, 88%, 63%);

  /*Colors Neutral*/
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "Figtree-Italic";
  src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  background-color: var(--Yellow);
}
.contenido {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--White);
  padding: 20px;
  border-radius: 1.5rem;
  border-style: solid;
  border-width: 0.05rem;
}
.ancho {
  max-width: 310px;
}
.imagen {
  border-radius: 0.5rem;
}
.texto {
  border-radius: 0.5rem;
}
.fuente {
  font-family: "Figtree", sans-serif;
}
.tamanioTitulo {
  font-size: 22px;
}
.tamanioPublished {
  font-size: 14px;
}
.fuente800 {
  font-weight: 800;
}
.fuente600 {
  font-weight: 600;
}
.fuenteGris {
  color: var(--Grey);
}
.colorFondo {
  background-color: var(--Yellow);
}

.margenes {
  border-radius: 5px;
  padding: 6px;
}

.usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nombre {
  margin-left: 15px;
  font-size: 15px;
}
.foto {
  max-width: 40px;
}
